.accordion-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.codex-editor__redactor {
    --acc-border-color: #ccc;
}


[data-accordion-wrapper]:not([data-readonly]) .ce-block__content {
    border: 1px solid transparent;
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
    transition: border .3s;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s;
}

[data-accordion-wrapper]:not([data-readonly]):is(:hover, :focus-within) .ce-block__content {
    border: 1px solid var(--acc-border-color, transparent);
}

.ce-block__content:has(.accordion-wrapper[data-readonly]) {
    cursor: pointer
}

.accordion-wrapper [contenteditable] {
    outline: none;
    flex: 1;
    padding: 10px;
}

.accordion-settings {
    margin-left: auto;
    position: relative;
    width: var(--icon-size, 24px);
    height: var(--icon-size, 24px);
    padding: 6px;
    cursor: pointer;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.accordion-settings:hover {
    transform: rotate(0.2turn);
    -webkit-transform: rotate(0.2turn);
    -moz-transform: rotate(0.2turn);
    -ms-transform: rotate(0.2turn);
    -o-transform: rotate(0.2turn);
}

/* //relatuve to the settings button */
.settings-popover {
    --border-radius: 6px;
    --color-shadow: rgba(13, 20, 33, 0.1);
    --background: white;
    z-index: 4;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--background, white);
    border: 1px solid #EFF0F1;
    border-radius: var(--border-radius);
    padding: 6px;
    box-shadow: 0 3px 15px -3px var(--color-shadow);
    z-index: 1000;
    transition: border .3s;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.settings-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.settings-block-config {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.settings-block-config>input[type=number] {
    width: 50px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.settings-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.settings-delimiter {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.save-settings {
    align-self: flex-end;
    padding: 5px 10px;
    /*background-color: #007bff;
    */
    /*color: white;
    */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.accordion-chevron-icon {
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.accordion-chevron-icon-rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* first scenario, all blocks exist, and are not another wrapper */
.ce-block[data-accordion-wrapper="4"]:has(.accordion-wrapper)+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper]) .ce-block__content,
/* second scenario, only some blocks exist, ant there are not another wrapper, ex accordion at end of editor */
.ce-block[data-accordion-wrapper="4"]:has(.accordion-wrapper)+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper]):last-child .ce-block__content,
.ce-block[data-accordion-wrapper="4"]:has(.accordion-wrapper)+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper]):last-child .ce-block__content,
.ce-block[data-accordion-wrapper="4"]:has(.accordion-wrapper)+.ce-block:not([data-accordion-wrapper]):last-child .ce-block__content,

/* third scenario, blocks exist but are cut off by another wrapper */
.ce-block[data-accordion-wrapper="4"]:has(.accordion-wrapper)+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper]):has(+.ce-block[data-accordion-wrapper]) .ce-block__content,
.ce-block[data-accordion-wrapper="4"]:has(.accordion-wrapper)+.ce-block:not([data-accordion-wrapper])+.ce-block:not([data-accordion-wrapper]):has(+.ce-block[data-accordion-wrapper]) .ce-block__content,
.ce-block[data-accordion-wrapper="4"]:has(.accordion-wrapper)+.ce-block:not([data-accordion-wrapper]):has(+.ce-block[data-accordion-wrapper]) .ce-block__content {
    /* background-color: red; */
}