.accordion-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.codex-editor__redactor:has(.accordion-wrapper:hover,
    .accordion-wrapper:focus-within) {
    --border-color: #ccc;
}

.ce-block__content:has(.accordion-wrapper:not([data-readonly])) {
    border: 1px solid var(--border-color, transparent);
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
    transition: border .3s;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s;
}

.ce-block__content:has(.accordion-wrapper[data-readonly]) {
    cursor: pointer
}

.accordion-wrapper [contenteditable] {
    outline: none;
    flex: 1;
    padding: 10px;
}

.accordion-settings {
    margin-left: auto;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 6px;
    cursor: pointer;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.accordion-settings:hover {
    transform: rotate(0.2turn);
    -webkit-transform: rotate(0.2turn);
    -moz-transform: rotate(0.2turn);
    -ms-transform: rotate(0.2turn);
    -o-transform: rotate(0.2turn);
}

/* //relatuve to the settings button */
.settings-popover {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid var(--border-color, transparent);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: border .3s;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s;
}

.settings-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.save-settings {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-chevron-icon {
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.accordion-chevron-icon-rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.accordion-wrapped[data-readonly],
.accordion-wrapped-last[data-readonly] {
    display: grid;
    /* grid-template-rows: 1fr; */
    overflow: hidden;
    transition: grid-template-rows .5s;
    -webkit-transition: grid-template-rows .5s;
    -moz-transition: grid-template-rows .5s;
    -ms-transition: grid-template-rows .5s;
    -o-transition: grid-template-rows .5s;
}

.accordion-wrapped:not([data-readonly]) .ce-block__content {
    border-left: 1px solid var(--border-color, transparent);
    border-right: 1px solid var(--border-color, transparent);
    transition: border .3s;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s;
}

.accordion-wrapped-last:not([data-readonly]) .ce-block__content {
    transition: border .3s;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s;
    border-left: 1px solid var(--border-color, transparent);
    border-right: 1px solid var(--border-color, transparent);
    border-bottom: 1px solid var(--border-color, transparent);
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}

.accordion-wrapped .ce-block__content>*,
.accordion-wrapped-last .ce-block__content>* {
    padding-inline: 10px;
}


.accordion-wrapped-closed {
    grid-template-rows: 0fr;
}

.accordion-wrapped-closed .ce-block__content {
    visibility: hidden;
}

.accordion-wrapped-opened {
    grid-template-rows: 1fr;
}

.accordion-wrapped-opened .ce-block__content {
    visibility: visible;

}

.accordion-wrapped-closed .ce-block__content,
.accordion-wrapped-opened .ce-block__content {
    min-height: 0;
    /* Because display grid from parent prevents this to use default max width of 650px */
    width: 650px;
    transition: visibility 0.5s;
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -ms-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
}